# Better Auth
BETTER_AUTH_SECRET=a6ebb535018ddf0708d69a697c9104851a98ebb39b2f202d7811735080002007
BETTER_AUTH_URL=http://localhost:3000

# Postgres
PG_HOST=localhost
PG_PORT=5400
PG_DATABASE=plexlims_db
PG_USERNAME=postgres
PG_PASSWORD=change-me

# Keycloak
KC_ISSUER=http://localhost:8085/realms/plexit
KC_CLIENT_ID=plex4It
KC_CLIENT_SECRET=MSjMz4H9609Srb2DF3MnPfzGLbTuOxMe

# .NET API base
API_URL=https://localhost:44321/api/v1

# Dev-only: allow self-signed TLS to local .NET API
NODE_TLS_REJECT_UNAUTHORIZED='0'
