# Better Auth
BETTER_AUTH_SECRET=a6ebb535018ddf0708d69a697c9104851a98ebb39b2f202d7811735080002007
BETTER_AUTH_URL=http://localhost:3000

# Postgres
DATABASE_URL=postgres://user:password@localhost:5400/database

# Keycloak
KC_ISSUER=http://localhost:8085/realms/plexit
KC_CLIENT_ID=plex4It
KC_CLIENT_SECRET=MSjMz4H9609Srb2DF3MnPfzGLbTuOxMe

# .NET API base
API_URL=https://localhost:44321/api/v1